*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
Mars.iml
.java-version
.idea/
mars-common/com.mars.common.iml
mars-common/mars-common.iml
mars-common/.java-version
mars-common/target
target
/mars-common/com.mars.common.iml
/mars-common/target/
